{
    "clusters": [
        {
            "nodes": [
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "{{ hostvars['master1']['ansible_host'] }}"
                            ],
                            "storage": [
                                "{{ hostvars['master1']['ansible_host'] }}"
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "{{ DISK_NAME }}"
                    ]
                },
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "{{ hostvars['master2']['ansible_host'] }}"
                            ],
                            "storage": [
                                "{{ hostvars['master2']['ansible_host'] }}"
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "{{ DISK_NAME }}"
                    ]
                },
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "{{ hostvars['master3']['ansible_host'] }}"
                            ],
                            "storage": [
                                "{{ hostvars['master3']['ansible_host'] }}"
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "{{ DISK_NAME }}"
                    ]
                },
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "{{ hostvars['worker1']['ansible_host'] }}"
                            ],
                            "storage": [
                                "{{ hostvars['worker1']['ansible_host'] }}"
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "{{ DISK_NAME }}"
                    ]
                }
            ]
        }
    ]
}